<a href="https://colab.research.google.com/github/ericycheng8/AI4CCEE_Fall_2024/blob/main/in_class_activity/lecture2/In_Class_Activity_2-Yi%20(Eric)%20Cheng.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Name = "Eric"
Age = "22"
string1 = "hello, my name is "+Name+" and I am "+Age+" years old."
print(string1.upper())
print(string1.lower())

Hobby = "play video games"
string2 = "hello, my name is "+Name+" and I love "+Hobby+"."
print(string2)

HELLO, MY NAME IS ERIC AND I AM 22 YEARS OLD.
hello, my name is eric and i am 22 years old.
hello, my name is Eric and I love play video games.

In [ ]:
asphalt_unit_cost=0
asphat_quantity=0
concrete_unit_cost=0
concrete_quantity=0
labor_unit_cost=0
labor_hours=0

In [ ]:
asphalt_unit_cost= input("Enter the cost of asphalt per unit:")
asphat_quantity= input("Enter the quantity of asphalt:")
concrete_unit_cost= input("Enter the cost of concrete per unit:")
concrete_quantity= input("Enter the quantity of concrete:")
labor_unit_cost= input("Enter the cost of labor per hour:")
labor_hours= input("Enter the quantity of labor hours:")

Enter the cost of asphalt per unit:50
Enter the quantity of asphalt:10
Enter the cost of concrete per unit:50
Enter the quantity of concrete:10
Enter the cost of labor per hour:50
Enter the quantity of labor hours:010

In [ ]:
asphalt_total_cost=int(asphalt_unit_cost)*int(asphat_quantity)
concrete_total_cost=int(concrete_unit_cost)*int(concrete_quantity)
labor_total_cost=int(labor_unit_cost)*int(labor_hours)
total_cost=asphalt_total_cost+concrete_total_cost+labor_total_cost
print(asphalt_total_cost)
print(concrete_total_cost)
print(labor_total_cost)
print(total_cost)

x= 50000
if total_cost<50000:
  print("Project is under budget")
else:
  print("Project is over budget")

500
500
500
1500
Project is under budget

In [ ]:
df = pd.read_csv('/content/example.csv')

NameError: name 'pd' is not defined

In [ ]:
# prompt: read csv

import pandas as pd

df = pd.read_csv('/content/example.csv')
print(df)

     Name  Age         City  Gender
0    John   26     New York    Male
1    Jane   31  Los Angeles  Female
2   Alice   22      Chicago  Female
3     Bob   45      Houston    Male
4   Carol   37      Phoenix  Female
5    John   26     New York  Female
6    Jane   29  Los Angeles  Female
7   Alice   24      Chicago    Male
8     Bob   40      Houston  Female
9   Carol   33      Phoenix    Male
10   John   26     New York  Female
11   Jane   28  Los Angeles    Male
12  Alice   30      Chicago  Female
13    Bob   39      Houston    Male
14  Carol   26      Phoenix  Female
15   John   26     New York  Female
16   Jane   35  Los Angeles  Female
17  Alice   25      Chicago    Male
18    Bob   41      Houston  Female
19  Carol   38      Phoenix  Female
20   John   26     New York    Male
21   Jane   27  Los Angeles  Female
22  Alice   21      Chicago  Female
23    Bob   44      Houston    Male
24  Carol   32      Phoenix  Female
25   John   26     New York  Female
26   Jane   30  Los Angeles    Male
27  Alice   23      Chicago  Female
28    Bob   46      Houston  Female
29  Carol   34      Phoenix    Male
30   John   26     New York  Female
31   Jane   32  Los Angeles  Female
32  Alice   26      Chicago    Male
33    Bob   43      Houston  Female
34  Carol   30      Phoenix  Female
35   John   26     New York    Male
36   Jane   28  Los Angeles  Female
37  Alice   27      Chicago  Female
38    Bob   42      Houston    Male
39  Carol   29      Phoenix  Female
40   John   26     New York  Female
41   Jane   34  Los Angeles    Male
42  Alice   22      Chicago  Female
43    Bob   40      Houston  Female
44  Carol   35      Phoenix    Male
45   John   26     New York  Female
46   Jane   31  Los Angeles  Female
47  Alice   24      Chicago    Male
48    Bob   38      Houston  Female
49  Carol   36      Phoenix  Female
50   John   26     New York    Male
51   Jane   29  Los Angeles  Female
52  Alice   25      Chicago  Female
53    Bob   42      Houston    Male
54  Carol   33      Phoenix  Female

In [ ]:
print(df.head(5))

    Name  Age         City  Gender
0   John   26     New York    Male
1   Jane   31  Los Angeles  Female
2  Alice   22      Chicago  Female
3    Bob   45      Houston    Male
4  Carol   37      Phoenix  Female

In [ ]:
print(df.describe())

             Age
count  55.000000
mean   31.127273
std     6.675146
min    21.000000
25%    26.000000
50%    29.000000
75%    35.500000
max    46.000000

In [ ]:
ages=df['Age']

In [ ]:
subset=df[['Name','Name']]

In [ ]:
import pandas as pd
df=pd.read_csv('/content/235-Nov.csv')
print(df)

       owner-id network-id      date   time  utc-offset  start-ime  end-time  \
0        Q-Free     Q-Free  20211110  80900           0      80800     80900
1        Q-Free     Q-Free  20211110  80900           0      80800     80900
2        Q-Free     Q-Free  20211110  80900           0      80800     80900
3        Q-Free     Q-Free  20211110  80900           0      80800     80900
4        Q-Free     Q-Free  20211110  80900           0      80800     80900
...         ...        ...       ...    ...         ...        ...       ...
128775   Q-Free     Q-Free  20211109  50500           0      50400     50500
128776   Q-Free     Q-Free  20211109  50500           0      50400     50500
128777   Q-Free     Q-Free  20211109  50500           0      50400     50500
128778   Q-Free     Q-Free  20211109  50500           0      50400     50500
128779   Q-Free     Q-Free  20211109  50500           0      50400     50500

          detector-id status  lane-id  ...  small-class-count  \
0        DMDS20-WB EN     OK        1  ...                  0
1        DMDS20-WB RL     OK        4  ...                  0
2       DMDS20-WB RCL     OK        3  ...                  0
3       DMDS20-WB LCL     OK        2  ...                  0
4        DMDS20-WB LL     OK        1  ...                  0
...               ...    ...      ...  ...                ...
128775   DMDS20-EB LL     OK        1  ...                  0
128776  DMDS20-EB LCL     OK        2  ...                  0
128777  DMDS20-EB RCL     OK        3  ...                  1
128778   DMDS20-EB RL     OK        4  ...                  0
128779   DMDS20-EB EX     OK        1  ...                  0

        medium-class-count  large-class-count                device-id  \
0                        0                  0  OpenTMS-Detector46573-0
1                        1                  0  OpenTMS-Detector46573-1
2                        0                  0  OpenTMS-Detector46573-2
3                        0                  0  OpenTMS-Detector46573-3
4                        0                  0  OpenTMS-Detector46573-4
...                    ...                ...                      ...
128775                   2                  0  OpenTMS-Detector46573-5
128776                   2                  0  OpenTMS-Detector46573-6
128777                   4                  1  OpenTMS-Detector46573-7
128778                   2                  0  OpenTMS-Detector46573-8
128779                   0                  0  OpenTMS-Detector46573-9

        link-direction  detector-type sample-period device-description month  \
0                    w        unknown            60            ON_RAMP    11
1                    w        unknown            60             NORMAL    11
2                    w        unknown            60             NORMAL    11
3                    w        unknown            60             NORMAL    11
4                    w        unknown            60             NORMAL    11
...                ...            ...           ...                ...   ...
128775               e        unknown            60             NORMAL    11
128776               e        unknown            60             NORMAL    11
128777               e        unknown            60             NORMAL    11
128778               e        unknown            60             NORMAL    11
128779               e        unknown            60           OFF_RAMP    11

        day
0        10
1        10
2        10
3        10
4        10
...     ...
128775    8
128776    8
128777    8
128778    8
128779    8

[128780 rows x 23 columns]

In [ ]:
print (df.head(5))

  owner-id network-id      date   time  utc-offset  start-ime  end-time  \
0   Q-Free     Q-Free  20211110  80900           0      80800     80900
1   Q-Free     Q-Free  20211110  80900           0      80800     80900
2   Q-Free     Q-Free  20211110  80900           0      80800     80900
3   Q-Free     Q-Free  20211110  80900           0      80800     80900
4   Q-Free     Q-Free  20211110  80900           0      80800     80900

     detector-id status  lane-id  ...  small-class-count  medium-class-count  \
0   DMDS20-WB EN     OK        1  ...                  0                   0
1   DMDS20-WB RL     OK        4  ...                  0                   1
2  DMDS20-WB RCL     OK        3  ...                  0                   0
3  DMDS20-WB LCL     OK        2  ...                  0                   0
4   DMDS20-WB LL     OK        1  ...                  0                   0

   large-class-count                device-id  link-direction  detector-type  \
0                  0  OpenTMS-Detector46573-0               w        unknown
1                  0  OpenTMS-Detector46573-1               w        unknown
2                  0  OpenTMS-Detector46573-2               w        unknown
3                  0  OpenTMS-Detector46573-3               w        unknown
4                  0  OpenTMS-Detector46573-4               w        unknown

  sample-period device-description month  day
0            60            ON_RAMP    11   10
1            60             NORMAL    11   10
2            60             NORMAL    11   10
3            60             NORMAL    11   10
4            60             NORMAL    11   10

[5 rows x 23 columns]

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128780 entries, 0 to 128779
Data columns (total 23 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   owner-id            128780 non-null  object
 1   network-id          128780 non-null  object
 2   date                128780 non-null  int64
 3   time                128780 non-null  int64
 4   utc-offset          128780 non-null  int64
 5   start-ime           128780 non-null  int64
 6   end-time            128780 non-null  int64
 7   detector-id         128780 non-null  object
 8   status              128780 non-null  object
 9   lane-id             128780 non-null  int64
 10  lane-count          128780 non-null  int64
 11  lane-occupancy      128780 non-null  int64
 12  lane-speed          128780 non-null  int64
 13  small-class-count   128780 non-null  int64
 14  medium-class-count  128780 non-null  int64
 15  large-class-count   128780 non-null  int64
 16  device-id           128780 non-null  object
 17  link-direction      128780 non-null  object
 18  detector-type       128780 non-null  object
 19  sample-period       128780 non-null  int64
 20  device-description  128780 non-null  object
 21  month               128780 non-null  int64
 22  day                 128780 non-null  int64
dtypes: int64(15), object(8)
memory usage: 22.6+ MB
None

In [ ]:
print(df.describe())

               date           time  utc-offset      start-ime       end-time  \
count  1.287800e+05  128780.000000    128780.0  128780.000000  128780.000000
mean   2.021111e+07  117912.004193         0.0  117932.395558  117912.004193
std    3.440028e+00   69021.866649         0.0   69021.150108   69021.866649
min    2.021110e+07       0.000000         0.0       0.000000       0.000000
25%    2.021110e+07   60100.000000         0.0   60100.000000   60100.000000
50%    2.021111e+07  120000.000000         0.0  120000.000000  120000.000000
75%    2.021111e+07  175700.000000         0.0  175800.000000  175700.000000
max    2.021111e+07  235900.000000         0.0  235900.000000  235900.000000

             lane-id     lane-count  lane-occupancy     lane-speed  \
count  128780.000000  128780.000000   128780.000000  128780.000000
mean        2.200000       9.634074        3.797197      61.164964
std         1.166195       8.714397        4.332574       6.787330
min         1.000000       0.000000        0.000000       0.000000
25%         1.000000       2.000000        0.000000      58.000000
50%         2.000000       7.000000        3.000000      61.000000
75%         3.000000      16.000000        6.000000      64.000000
max         4.000000      51.000000       99.000000     143.000000

       small-class-count  medium-class-count  large-class-count  \
count      128780.000000       128780.000000      128780.000000
mean            0.203960            7.616548           1.581472
std             0.648766            6.935575           2.237594
min             0.000000            0.000000           0.000000
25%             0.000000            2.000000           0.000000
50%             0.000000            6.000000           1.000000
75%             0.000000           13.000000           2.000000
max            17.000000           37.000000          23.000000

       sample-period     month            day
count       128780.0  128780.0  128780.000000
mean            60.0      11.0       6.665942
std              0.0       0.0       3.396851
min             60.0      11.0       2.000000
25%             60.0      11.0       2.000000
50%             60.0      11.0       8.000000
75%             60.0      11.0      10.000000
max             60.0      11.0      10.000000

In [ ]:
import pandas as pd
time_str=df['time']
time_dt=pd.to_datetime(time_str, format='%H:%M:%S')
hours=time_dt.dt.hour + time_dt.dt.minute/60 + time_dt.dt.second/3600
print(hours)

ValueError: time data "80900" doesn't match format "%H:%M:%S", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.