<a href="https://colab.research.google.com/github/pingisu/AI4CCEE_Fall_2024/blob/main/activity4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv('/content/235-Nov.csv')
print(df)

       owner-id network-id      date   time  utc-offset  start-ime  end-time  \
0        Q-Free     Q-Free  20211110  80900           0      80800     80900
1        Q-Free     Q-Free  20211110  80900           0      80800     80900
2        Q-Free     Q-Free  20211110  80900           0      80800     80900
3        Q-Free     Q-Free  20211110  80900           0      80800     80900
4        Q-Free     Q-Free  20211110  80900           0      80800     80900
...         ...        ...       ...    ...         ...        ...       ...
128775   Q-Free     Q-Free  20211109  50500           0      50400     50500
128776   Q-Free     Q-Free  20211109  50500           0      50400     50500
128777   Q-Free     Q-Free  20211109  50500           0      50400     50500
128778   Q-Free     Q-Free  20211109  50500           0      50400     50500
128779   Q-Free     Q-Free  20211109  50500           0      50400     50500

          detector-id status  lane-id  ...  small-class-count  \
0        DMDS20-WB EN     OK        1  ...                  0
1        DMDS20-WB RL     OK        4  ...                  0
2       DMDS20-WB RCL     OK        3  ...                  0
3       DMDS20-WB LCL     OK        2  ...                  0
4        DMDS20-WB LL     OK        1  ...                  0
...               ...    ...      ...  ...                ...
128775   DMDS20-EB LL     OK        1  ...                  0
128776  DMDS20-EB LCL     OK        2  ...                  0
128777  DMDS20-EB RCL     OK        3  ...                  1
128778   DMDS20-EB RL     OK        4  ...                  0
128779   DMDS20-EB EX     OK        1  ...                  0

        medium-class-count  large-class-count                device-id  \
0                        0                  0  OpenTMS-Detector46573-0
1                        1                  0  OpenTMS-Detector46573-1
2                        0                  0  OpenTMS-Detector46573-2
3                        0                  0  OpenTMS-Detector46573-3
4                        0                  0  OpenTMS-Detector46573-4
...                    ...                ...                      ...
128775                   2                  0  OpenTMS-Detector46573-5
128776                   2                  0  OpenTMS-Detector46573-6
128777                   4                  1  OpenTMS-Detector46573-7
128778                   2                  0  OpenTMS-Detector46573-8
128779                   0                  0  OpenTMS-Detector46573-9

        link-direction  detector-type sample-period device-description month  \
0                    w        unknown            60            ON_RAMP    11
1                    w        unknown            60             NORMAL    11
2                    w        unknown            60             NORMAL    11
3                    w        unknown            60             NORMAL    11
4                    w        unknown            60             NORMAL    11
...                ...            ...           ...                ...   ...
128775               e        unknown            60             NORMAL    11
128776               e        unknown            60             NORMAL    11
128777               e        unknown            60             NORMAL    11
128778               e        unknown            60             NORMAL    11
128779               e        unknown            60           OFF_RAMP    11

        day
0        10
1        10
2        10
3        10
4        10
...     ...
128775    8
128776    8
128777    8
128778    8
128779    8

[128780 rows x 23 columns]

In [ ]:
print(df.head())

  owner-id network-id      date   time  utc-offset  start-ime  end-time  \
0   Q-Free     Q-Free  20211110  80900           0      80800     80900
1   Q-Free     Q-Free  20211110  80900           0      80800     80900
2   Q-Free     Q-Free  20211110  80900           0      80800     80900
3   Q-Free     Q-Free  20211110  80900           0      80800     80900
4   Q-Free     Q-Free  20211110  80900           0      80800     80900

     detector-id status  lane-id  ...  small-class-count  medium-class-count  \
0   DMDS20-WB EN     OK        1  ...                  0                   0
1   DMDS20-WB RL     OK        4  ...                  0                   1
2  DMDS20-WB RCL     OK        3  ...                  0                   0
3  DMDS20-WB LCL     OK        2  ...                  0                   0
4   DMDS20-WB LL     OK        1  ...                  0                   0

   large-class-count                device-id  link-direction  detector-type  \
0                  0  OpenTMS-Detector46573-0               w        unknown
1                  0  OpenTMS-Detector46573-1               w        unknown
2                  0  OpenTMS-Detector46573-2               w        unknown
3                  0  OpenTMS-Detector46573-3               w        unknown
4                  0  OpenTMS-Detector46573-4               w        unknown

  sample-period device-description month  day
0            60            ON_RAMP    11   10
1            60             NORMAL    11   10
2            60             NORMAL    11   10
3            60             NORMAL    11   10
4            60             NORMAL    11   10

[5 rows x 23 columns]

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128780 entries, 0 to 128779
Data columns (total 23 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   owner-id            128780 non-null  object
 1   network-id          128780 non-null  object
 2   date                128780 non-null  int64
 3   time                128780 non-null  int64
 4   utc-offset          128780 non-null  int64
 5   start-ime           128780 non-null  int64
 6   end-time            128780 non-null  int64
 7   detector-id         128780 non-null  object
 8   status              128780 non-null  object
 9   lane-id             128780 non-null  int64
 10  lane-count          128780 non-null  int64
 11  lane-occupancy      128780 non-null  int64
 12  lane-speed          128780 non-null  int64
 13  small-class-count   128780 non-null  int64
 14  medium-class-count  128780 non-null  int64
 15  large-class-count   128780 non-null  int64
 16  device-id           128780 non-null  object
 17  link-direction      128780 non-null  object
 18  detector-type       128780 non-null  object
 19  sample-period       128780 non-null  int64
 20  device-description  128780 non-null  object
 21  month               128780 non-null  int64
 22  day                 128780 non-null  int64
dtypes: int64(15), object(8)
memory usage: 22.6+ MB
None

In [ ]:
# prompt: convert units of specific column in database

# Assuming 'df' is your DataFrame and 'column_name' is the name of the column you want to convert
column_name = 'time'  # Replace with the actual column name
new_unit_column_name = 'time_in_hours'

# Define the conversion factor (e.g., convert from minutes to seconds)
conversion_factor = 60

if column_name in df.columns:
  # Create a new column with the converted values
  df[new_unit_column_name] = df[column_name] / conversion_factor
  print(df.head())  # Print the first few rows of the DataFrame with the new column
else:
  print(f"The column '{column_name}' does not exist in the DataFrame.")

  owner-id network-id      date   time  utc-offset  start-ime  end-time  \
0   Q-Free     Q-Free  20211110  80900           0      80800     80900
1   Q-Free     Q-Free  20211110  80900           0      80800     80900
2   Q-Free     Q-Free  20211110  80900           0      80800     80900
3   Q-Free     Q-Free  20211110  80900           0      80800     80900
4   Q-Free     Q-Free  20211110  80900           0      80800     80900

     detector-id status  lane-id  ...  medium-class-count  large-class-count  \
0   DMDS20-WB EN     OK        1  ...                   0                  0
1   DMDS20-WB RL     OK        4  ...                   1                  0
2  DMDS20-WB RCL     OK        3  ...                   0                  0
3  DMDS20-WB LCL     OK        2  ...                   0                  0
4   DMDS20-WB LL     OK        1  ...                   0                  0

                 device-id  link-direction  detector-type  sample-period  \
0  OpenTMS-Detector46573-0               w        unknown             60
1  OpenTMS-Detector46573-1               w        unknown             60
2  OpenTMS-Detector46573-2               w        unknown             60
3  OpenTMS-Detector46573-3               w        unknown             60
4  OpenTMS-Detector46573-4               w        unknown             60

  device-description month day  time_in_hours
0            ON_RAMP    11  10    1348.333333
1             NORMAL    11  10    1348.333333
2             NORMAL    11  10    1348.333333
3             NORMAL    11  10    1348.333333
4             NORMAL    11  10    1348.333333

[5 rows x 24 columns]