<a href="https://colab.research.google.com/github/inusah4/AI4CCEE_Adnan44/blob/main/Week3_Act.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!mkdir act_2

In [2]:
!pwd

/content

In [5]:
%cd act_2

/content/act_2

In [6]:
!pwd

/content/act_2

In [8]:
!echo "Hello, World! My name is Thanos. I have five infinity stones. I made half the world disappear." > example.txt

In [9]:
!ls

example.txt

In [18]:
name = 'Adnan'
age = 33

In [21]:
print ('My name is {} and I am {} years old.'.format(name, age))

My name is Adnan and I am 33 years old.

In [23]:
print (f'My name is {name} and I am {age} years old.')

My name is Adnan and I am 33 years old.

In [34]:
sentence = (f'My name is {name} and I am {age} years old.')

In [25]:
print(sentence.upper())

MY NAME IS ADNAN AND I AM 33 YEARS OLD.

In [26]:
print(sentence.lower())

my name is adnan and i am 33 years old.

In [27]:
hobby = 'programming'

In [50]:
new_sentence = sentence.replace(f'I am {age} years old', f'I love {hobby}')

In [53]:
print(new_sentence)

My name is Adnan and I love programming.

In [63]:
asphalt_unit_cost = 0
asphalt_quantity = 0
concrete_unit_cost = 0
concrete_quantity = 0
labor_unit_cost = 0
labor_hours = 0

In [64]:
asphalt_unit_cost = int(input("What is the unit cost of asphalt? "))
asphalt_quantity = int(input("What is the volume of asphalt in cm3? "))
concrete_unit_cost = int(input("What is the unit cost of concrete? "))
concrete_quantity = int(input("What is the volume of concrete in cm3? "))
labor_unit_cost = int(input("What is the unit cost of labor? "))
labor_hours = int(input("What is the total labor hours? "))

What is the unit cost of asphalt? 25
What is the volume of asphalt in cm3? 100
What is the unit cost of concrete? 35
What is the volume of concrete in cm3? 200
What is the unit cost of labor? 40
What is the total labor hours? 40

In [66]:
asphalt_total_cost = asphalt_unit_cost * asphalt_quantity
concrete_total_cost = concrete_unit_cost * concrete_quantity
labor_total_cost = labor_unit_cost * labor_hours
total_cost = asphalt_total_cost + concrete_total_cost + labor_total_cost

In [67]:
print(asphalt_total_cost)
print(concrete_total_cost)
print(labor_total_cost)
print(total_cost)

2500
7000
1600
11100

In [70]:
budget = 50000

In [71]:
if total_cost <= budget:
  print("Project is within budget.")
else:
  print("Project is over budget.")

Project is within budget.

In [72]:
def check_budget(total_cost, budget):
  if total_cost <= budget:
    print("Project is within budget.")
  else:
    print("Project is over budget.")

In [73]:
check_budget(total_cost, budget)

Project is within budget.

In [75]:
import pandas as pd

In [76]:
df = pd.read_csv('example.csv')

In [83]:
print(df.head())

    Name  Age         City  Gender
0   John   26     New York    Male
1   Jane   31  Los Angeles  Female
2  Alice   22      Chicago  Female
3    Bob   45      Houston    Male
4  Carol   37      Phoenix  Female

In [84]:
print(df.describe())

             Age
count  55.000000
mean   31.127273
std     6.675146
min    21.000000
25%    26.000000
50%    29.000000
75%    35.500000
max    46.000000

In [85]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    55 non-null     object
 1   Age     55 non-null     int64
 2   City    55 non-null     object
 3   Gender  55 non-null     object
dtypes: int64(1), object(3)
memory usage: 1.8+ KB
None

In [86]:
# Selecting a single column
ages = df['Age']

# Selecting multiple columns
subset = df[['Name', 'City']]

# Filtering based on a condition
young_people = df[df['Age'] < 30]

In [88]:
print(young_people.head())

    Name  Age         City  Gender
0   John   26     New York    Male
2  Alice   22      Chicago  Female
5   John   26     New York  Female
6   Jane   29  Los Angeles  Female
7  Alice   24      Chicago    Male

In [89]:
traffic_data = pd.read_csv('235-Nov.csv')

In [92]:
print(traffic_data.head())

  owner-id network-id      date   time  utc-offset  start-ime  end-time  \
0   Q-Free     Q-Free  20211110  80900           0      80800     80900
1   Q-Free     Q-Free  20211110  80900           0      80800     80900
2   Q-Free     Q-Free  20211110  80900           0      80800     80900
3   Q-Free     Q-Free  20211110  80900           0      80800     80900
4   Q-Free     Q-Free  20211110  80900           0      80800     80900

     detector-id status  lane-id  ...  small-class-count  medium-class-count  \
0   DMDS20-WB EN     OK        1  ...                  0                   0
1   DMDS20-WB RL     OK        4  ...                  0                   1
2  DMDS20-WB RCL     OK        3  ...                  0                   0
3  DMDS20-WB LCL     OK        2  ...                  0                   0
4   DMDS20-WB LL     OK        1  ...                  0                   0

   large-class-count                device-id  link-direction  detector-type  \
0                  0  OpenTMS-Detector46573-0               w        unknown
1                  0  OpenTMS-Detector46573-1               w        unknown
2                  0  OpenTMS-Detector46573-2               w        unknown
3                  0  OpenTMS-Detector46573-3               w        unknown
4                  0  OpenTMS-Detector46573-4               w        unknown

  sample-period device-description month  day
0            60            ON_RAMP    11   10
1            60             NORMAL    11   10
2            60             NORMAL    11   10
3            60             NORMAL    11   10
4            60             NORMAL    11   10

[5 rows x 23 columns]

In [93]:
print(traffic_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128780 entries, 0 to 128779
Data columns (total 23 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   owner-id            128780 non-null  object
 1   network-id          128780 non-null  object
 2   date                128780 non-null  int64
 3   time                128780 non-null  int64
 4   utc-offset          128780 non-null  int64
 5   start-ime           128780 non-null  int64
 6   end-time            128780 non-null  int64
 7   detector-id         128780 non-null  object
 8   status              128780 non-null  object
 9   lane-id             128780 non-null  int64
 10  lane-count          128780 non-null  int64
 11  lane-occupancy      128780 non-null  int64
 12  lane-speed          128780 non-null  int64
 13  small-class-count   128780 non-null  int64
 14  medium-class-count  128780 non-null  int64
 15  large-class-count   128780 non-null  int64
 16  device-id           128780 non-null  object
 17  link-direction      128780 non-null  object
 18  detector-type       128780 non-null  object
 19  sample-period       128780 non-null  int64
 20  device-description  128780 non-null  object
 21  month               128780 non-null  int64
 22  day                 128780 non-null  int64
dtypes: int64(15), object(8)
memory usage: 22.6+ MB
None

In [ ]:
print(traffic_data.describe())

In [95]:
print(traffic_data.isnull().sum())

owner-id              0
network-id            0
date                  0
time                  0
utc-offset            0
start-ime             0
end-time              0
detector-id           0
status                0
lane-id               0
lane-count            0
lane-occupancy        0
lane-speed            0
small-class-count     0
medium-class-count    0
large-class-count     0
device-id             0
link-direction        0
detector-type         0
sample-period         0
device-description    0
month                 0
day                   0
dtype: int64

In [98]:
traffic_data['hours'] = traffic_data['time'].str[:2].astype(int) + \
                        traffic_data['time'].str[2:4].astype(int) / 60 + \
                        traffic_data['time'].str[4:].astype(int) / 3600

AttributeError: Can only use .str accessor with string values!