<a href="https://colab.research.google.com/github/isiva-m/AI4CCEE_Fall_2024/blob/main/in_class_activity/Lecture5/submissions/Lecture_5_Siva.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [52]:
import pandas as pd

df = pd.read_csv('/content/Ames_August_Crashes.csv')
df.head()
df.info()
print(summary_stats)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  52 non-null     object
 1   Unnamed: 1  52 non-null     object
 2   Unnamed: 2  0 non-null      float64
 3   Unnamed: 3  52 non-null     object
 4   Unnamed: 4  1 non-null      object
 5   Unnamed: 5  52 non-null     object
 6   Unnamed: 6  52 non-null     object
 7   Unnamed: 7  52 non-null     object
 8   Unnamed: 8  52 non-null     object
 9   Unnamed: 9  0 non-null      float64
dtypes: float64(2), object(8)
memory usage: 4.6+ KB
        Unnamed: 0  Unnamed: 1  Unnamed: 2     Unnamed: 3  \
count           52          52         0.0             52
unique          26          52         NaN             52
top     08/26/2024  DOT Case #         NaN  Agency Case #
freq             6           1         NaN              1
mean           NaN         NaN         NaN            NaN
std            NaN         NaN         NaN            NaN
min            NaN         NaN         NaN            NaN
25%            NaN         NaN         NaN            NaN
50%            NaN         NaN         NaN            NaN
75%            NaN         NaN         NaN            NaN
max            NaN         NaN         NaN            NaN

                      Unnamed: 4 Unnamed: 5 Unnamed: 6            Unnamed: 7  \
count                          1         52         52                    52
unique                         1          2          2                     5
top     Abbreviated Crash Report       Ames      Story  Property Damage Only
freq                           1         51         51                    37
mean                         NaN        NaN        NaN                   NaN
std                          NaN        NaN        NaN                   NaN
min                          NaN        NaN        NaN                   NaN
25%                          NaN        NaN        NaN                   NaN
50%                          NaN        NaN        NaN                   NaN
75%                          NaN        NaN        NaN                   NaN
max                          NaN        NaN        NaN                   NaN

                                               Unnamed: 8  Unnamed: 9
count                                                  52         0.0
unique                                                 33         NaN
top     US 69 N                                       ...         NaN
freq                                                    8         NaN
mean                                                  NaN         NaN
std                                                   NaN         NaN
min                                                   NaN         NaN
25%                                                   NaN         NaN
50%                                                   NaN         NaN
75%                                                   NaN         NaN
max                                                   NaN         NaN

Activity_3

In [41]:
# Step 1: Import the pandas library
import pandas as pd

# Step 2: Load the CSV file into a pandas DataFrame
df = pd.read_csv('/content/Ames_August_Crashes.csv')

# Step 3: Display the first few rows of the dataset
print("First few rows of the dataset:")
print(df.head())

# Step 4: Check for missing values and data types
print("\nDataFrame information (including missing values and data types):")
df.info()

First few rows of the dataset:
  Unnamed: 0  Unnamed: 1  Unnamed: 2     Unnamed: 3                Unnamed: 4  \
0        NaN         NaN         NaN            NaN                       NaN
1        NaN         NaN         NaN            NaN  Abbreviated Crash Report
2        NaN         NaN         NaN            NaN                       NaN
3        NaN         NaN         NaN            NaN                       NaN
4       Date  DOT Case #         NaN  Agency Case #                       NaN

  Unnamed: 5 Unnamed: 6 Unnamed: 7           Unnamed: 8  Unnamed: 9
0        NaN        NaN        NaN                  NaN         NaN
1        NaN        NaN        NaN                  NaN         NaN
2        NaN        NaN        NaN                  NaN         NaN
3        NaN        NaN        NaN                  NaN         NaN
4       City     County   Severity  Literal Description         NaN

DataFrame information (including missing values and data types):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  52 non-null     object
 1   Unnamed: 1  52 non-null     object
 2   Unnamed: 2  0 non-null      float64
 3   Unnamed: 3  52 non-null     object
 4   Unnamed: 4  1 non-null      object
 5   Unnamed: 5  52 non-null     object
 6   Unnamed: 6  52 non-null     object
 7   Unnamed: 7  52 non-null     object
 8   Unnamed: 8  52 non-null     object
 9   Unnamed: 9  0 non-null      float64
dtypes: float64(2), object(8)
memory usage: 4.6+ KB

In [42]:
# Step 1: Import the pandas library
import pandas as pd

# Step 2: Load the CSV file into a pandas DataFrame
df = pd.read_csv('/content/Ames_August_Crashes.csv')

# Step 3: Display the first few rows of the dataset
print("First few rows of the dataset:")
print(df.head())

# Step 4: Check for missing values and data types
print("\nDataFrame information (including missing values and data types):")
df.info()

# Step 5: Create summary statistics for the DataFrame
print("\nSummary statistics of the dataset:")
summary_stats = df.describe(include='all')  # include='all' includes categorical variables
print(summary_stats)

First few rows of the dataset:
  Unnamed: 0  Unnamed: 1  Unnamed: 2     Unnamed: 3                Unnamed: 4  \
0        NaN         NaN         NaN            NaN                       NaN
1        NaN         NaN         NaN            NaN  Abbreviated Crash Report
2        NaN         NaN         NaN            NaN                       NaN
3        NaN         NaN         NaN            NaN                       NaN
4       Date  DOT Case #         NaN  Agency Case #                       NaN

  Unnamed: 5 Unnamed: 6 Unnamed: 7           Unnamed: 8  Unnamed: 9
0        NaN        NaN        NaN                  NaN         NaN
1        NaN        NaN        NaN                  NaN         NaN
2        NaN        NaN        NaN                  NaN         NaN
3        NaN        NaN        NaN                  NaN         NaN
4       City     County   Severity  Literal Description         NaN

DataFrame information (including missing values and data types):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  52 non-null     object
 1   Unnamed: 1  52 non-null     object
 2   Unnamed: 2  0 non-null      float64
 3   Unnamed: 3  52 non-null     object
 4   Unnamed: 4  1 non-null      object
 5   Unnamed: 5  52 non-null     object
 6   Unnamed: 6  52 non-null     object
 7   Unnamed: 7  52 non-null     object
 8   Unnamed: 8  52 non-null     object
 9   Unnamed: 9  0 non-null      float64
dtypes: float64(2), object(8)
memory usage: 4.6+ KB

Summary statistics of the dataset:
        Unnamed: 0  Unnamed: 1  Unnamed: 2     Unnamed: 3  \
count           52          52         0.0             52
unique          26          52         NaN             52
top     08/26/2024  DOT Case #         NaN  Agency Case #
freq             6           1         NaN              1
mean           NaN         NaN         NaN            NaN
std            NaN         NaN         NaN            NaN
min            NaN         NaN         NaN            NaN
25%            NaN         NaN         NaN            NaN
50%            NaN         NaN         NaN            NaN
75%            NaN         NaN         NaN            NaN
max            NaN         NaN         NaN            NaN

                      Unnamed: 4 Unnamed: 5 Unnamed: 6            Unnamed: 7  \
count                          1         52         52                    52
unique                         1          2          2                     5
top     Abbreviated Crash Report       Ames      Story  Property Damage Only
freq                           1         51         51                    37
mean                         NaN        NaN        NaN                   NaN
std                          NaN        NaN        NaN                   NaN
min                          NaN        NaN        NaN                   NaN
25%                          NaN        NaN        NaN                   NaN
50%                          NaN        NaN        NaN                   NaN
75%                          NaN        NaN        NaN                   NaN
max                          NaN        NaN        NaN                   NaN

                                               Unnamed: 8  Unnamed: 9
count                                                  52         0.0
unique                                                 33         NaN
top     US 69 N                                       ...         NaN
freq                                                    8         NaN
mean                                                  NaN         NaN
std                                                   NaN         NaN
min                                                   NaN         NaN
25%                                                   NaN         NaN
50%                                                   NaN         NaN
75%                                                   NaN         NaN
max                                                   NaN         NaN

In [50]:
# Step 1: Import necessary libraries
import pandas as pd

# Step 2: Load the CSV file into a pandas DataFrame
df = pd.read_csv('/content/Ames_August_Crashes.csv')

# Step 3: Identify the target variable for crash severity
target_variable = 'Severity'  # Replace with the actual target variable name as per your dataset

# Check if the target variable is in the DataFrame
if target_variable in df.columns:
    print(f"\nTarget Variable: {target_variable}")

    # Step 4: Inspect the target variable values
    print("\nTarget variable values and their counts:")
    print(df[target_variable].value_counts())  # Display unique values and their counts
else:
    print(f"\nTarget Variable '{target_variable}' not found in the dataset.")

Target Variable 'Severity' not found in the dataset.